@use './util';
@use '../window/titlebar.scss';
$bar-height: titlebar.$titlebar-height;

.menu-button {
    position: fixed;
    height: 5rem; width: 5rem;
    top: calc($bar-height + 1rem); right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    @include util.box-border;

    &:hover {
        cursor: pointer;
        background-color: var(--button-hover-bgcolor);
    }

    &:active {
        background-color: var(--button-active-bgcolor);
    }
}

.menu {
    position: fixed;
    top: $bar-height; right: 0;
    height: 100%; width: 100%;
    background-color: var(--menu-background-color);

    .setting {
        position: absolute;
        top: 8rem;
        left: 1rem;
        padding: 1rem;
        display: flex;
        background-color: white;
        @include util.box-border;
        flex-direction: column;

        &-element {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin: 0;
            font-size: 1.5rem;
            height: 4rem;

            > * {
                font-size: inherit;
                display: flex;
                align-items: center;
                margin-right: 1rem;
                height: 2rem;
            }

            > input[type="checkbox"] {
                height: 1.5rem;
                width: 1.5rem;
            }

            > input[type="number"] {
                height: 2rem;
                width: 4rem;
            }
        }
    }
}
