@use '../util';

.response-box {
    padding: 1rem;
    background-color: var(--app-bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    color: white;

    >* {
        margin-bottom: 1rem;
    }

    .response-content {
        display: flex;
        flex-direction: column;

        .response-element {
            border: 0.1rem solid var(--app-border-color);
            padding: 1rem;

            span.dialogue {
                color: var(--quote-font-color);
            }
        }
    }

    .chat-bar {
        position: sticky;
        bottom: 0;
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;

        input {
            width: 90%;
            padding: 1rem;
            font-size: 2rem;
            @include util.box-border(0.4rem, 0.8rem);

            &:disabled {
                background-color: gray;
            }
        }
    }

    .controllers {
        display: flex;
        gap: 1rem;
        align-items: center;
        height: 5rem;

        >* {
            width: fit-content;
            padding: 1rem;
            cursor: pointer;
            border: 0.25rem solid var(--app-border-color);

            &:hover {
                background-color: var(--app-accent-color);
            }
        }

        .reroll { color: aqua; }
        .input-change { color: lime; }
        .delete-message { color: red; }
        .select-first-message { color: aqua; }
        .user-name-input { color: lime; }
    }
}

.chat.pop-up .response-box {
    position: absolute;
    top: 8rem;
    width: calc(90% - 2rem);
    opacity: 75%;
    height: calc(100% - 12rem);
    @include util.box-border;
}

.chat.side-view .response-box {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2rem);
    width: calc(70% - 2rem);
    border-left: 0.5rem solid var(--app-border-color);
}