@forward './log.scss';
@forward './setting.scss';
@forward './token-counter.scss';

@use '../util';
@use './menu-util.scss';
$bar-height: util.$titlebar-height;

.menu-button {
    @include menu-util.menu-button(0);
}

.menu {
    @include util.background(var(--semi-transparent-black));

    .storage-folder-button {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        padding: 1rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include util.box-border;
        @include util.button-background;
    }
}