@use '../util';
@use './menu-util.scss';
$bar-height: util.$titlebar-height;

.log-button {
    @include menu-util.menu-button(1);
}

.log {
    @include util.background(var(--semi-transparent-black));

    &-box {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 1rem;
        width: calc(100% - 12rem);
        background-color: white;
        @include util.box-border;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        max-height: calc(100% - $bar-height - 5rem);

        .log-element {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 1.5rem;
            @include util.box-border(0.3rem, 0.75rem);
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            max-height: 9.5rem;
            overflow: hidden;

            &.assistant {
                @include util.button-background;
            }

            header {
                width: calc(100% - 2rem);
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;

                h1 {
                    font-size: 1.5rem;
                }
            }

            p {
                width: 100%;
                box-sizing: border-box;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
                border: 0.2rem solid var(--app-border-color);
                border-left: 0;
                border-right: 0;
            }
        }
    }

    .initialize-button {
        position: absolute;
        bottom: 3rem;
        right: 1rem;
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include util.box-border;
        @include util.button-background;
    }
}