@use '../util';

@mixin menu-button($order: 1) {
    position: fixed;
    height: 5rem;
    width: 5rem;
    top: calc(util.$titlebar-height + 1rem + (7rem * $order));
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include util.box-border;
    @include util.button-background;
}